.container{
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 0px;
}
.tableData-head th {
	padding-top: 18px;
	padding-bottom: 18px
}

.tableData-body td {
    padding: 8px 15px;
}

.tableData {
	position: relative;
}
.tableData table {
    border-collapse: collapse;
}

.tableData-head {
	width: 100%;
	top: 0;
	left: 0
}

.tableData-body {
	max-height: 585px;
	overflow: auto
}
.tableData.ver .tableData-head {
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
	-o-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
	-ms-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1)
}

.tableData.ver th {
	font-family: Lato-Bold;
	font-size: 18px;
	color: black;
	line-height: 1.4;
	background-color: transparent
}

.tableData.ver td {
	font-family: Lato-Regular;
	font-size: 15px;
	color: gray;
	line-height: 1.4
}

.tableData.ver .tableData-body tr {
	border-bottom: 1px solid #f2f2f2
}

.tableData.ver {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
	-o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
	-ms-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
	height: 500px;
    overflow: auto;
}

img{
    border-radius: 50%;
    background-size: cover;
}